#headerWrapper{
 
}

#headerContent{
 background-image: url("./images/juanafood.jpg");
 height: 800px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 
}

#restaurantTitle {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  text-align: center;


}

#restaurantTitle h2 {
  margin-top: -2%;
  font-size: 1em;
}